<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="./js/weather.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Moon</title>
</head>

<body ng-app="weatherApp">
    <div ng-controller="WeatherCtrl" class="container" style="background-color: rgb(227, 196, 152);">
        <div class="sun" style="transform: rotate(-120deg) translate(40vw) rotate(-120deg);"></div>
        <img class="forest" src="./img/forest.svg">
        <div class="date"></div>
        <div class="time"></div>
        <div class="search-box">
            <button class="btn-search" ng-click="changeKey()"><i class="fas fa-search"></i></button>
            <input ng-model="keySearch" type="text" class="input-search" placeholder="Tìm kiếm thành phố">
        </div>
        <div class="weather">
            <div class="city"><span ng-model="name">{{name}}</span> , <span ng-model="country">{{country}}</span></div>
            <div class="icon"><img ng-src="{{img_src}}"></div>
            <div class="temp">
                <div class="curr-temp"><span>Current: {{current | number : 1}} °C</span></div>
                <hr>
                <div class="max-min" ng-model="temp">
                    <span>Feels like: {{ temp_min | number: 1}}</span><br>
                    <span>Temp range: {{ temp_max | number: 1}}</span><br>
                    <span>Wind: {{wind_speed}} km/h</span>
                </div>

            </div>
        </div>

        <div class="snowflakes" aria-hidden="true">
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
        </div>
        <div class="sakuras">
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
            <div class="snowflake" style="display: block;">🌸</div>
        </div>
    </div>

    <script src="./js/script.js"></script>

</body>

</html>